.History {
    text-align: center;
    margin: auto;
    padding: 90px;
    margin: 80px 0;
    background-image: url("../../assets//images//history-img.png");
    background-repeat: no-repeat;
    object-fit: center;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;

    h3 {
        margin: auto;
        width: 65%;
        color: #FFF;
        font-size: 32px;
        margin-bottom: 50px;
    }
}